.form {
    display: grid;
    grid-template-columns: 2fr 0.25fr;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: flex-end;
    box-shadow: 0px -9px 16px 5px rgba(0, 0, 0, 0.041);
}

.chatInput {
    width: 100%;
    height: 98%;
    background-color: var(--extra-color);
    border-width: 0;
    border-radius: 0px 0px 0px px;
    text-indent: 15px;
    font-size: 1.2em;
    transition: background 0.2s;
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.061);
    box-shadow: inset 5px 5px 15px 5px rgba(0, 0, 0, 0.048);
    grid-area: 1 / 1 / 2 / 2;
}

.chatInput:focus {
    outline: none;
    background-color: #e2daca;
}

.form > button {
    grid-area: 1 / 2 / 2 / 3;
}

.form > button {
    background-color: var(--button-color);
    border-width: 0;
    border-radius: 0px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.164);
    cursor: pointer;
}

.form > button > span {
    font-weight: 600;
    font-size: 1.7em;
    color: white;
}

.underline {
    width: 0;
    height: 3%;
    background-color: #cfc7b7;
    transition: width 0.4s;
}

.form > button:hover .underline{
    width: 30%;
}